<h2>Login</h2>

<form class="form" action="/login" method="post">
    <label for="">e-mail</label>
    <input type="email" name="email">
    <label for="">password</label>
    <input type="password" name="password">
    <button>Login</button>
</form>

<div class="form">
    <a href="/signup">Don't have an account? sign up here.</a>
</div>