<h2>Sign-up</h2>

<form class="form" action="/signup" method="post">
    <div class="inputbox">
        <label for="">e-mail</label>
    </div>
    <div class="inputbox">
        <input type="email" name="email">
    </div>
    <div class="inputbox">
        <label for="">username</label>
    </div>
    <div class="inputbox">
        <input type="text" name="username">
    </div>
    <div class="inputbox">
        <label for="">password</label>
    </div>
    <div class="inputbox">
        <input type="password" name="password">
    </div>
    <div class="inputbox">
        <label for="">confirm password</label>
    </div>
    <div class="inputbox">
        <input type="password" name="password-check">
        <button>Create</button>
    </div>
</form>